*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red*/
}

html {
  overflow-x: hidden;
  user-select: none;
}

html, body, #root {
  height: 100%;
}

#root {
  display: grid;
  grid-template-rows: min-content min-content;
  gap: 30px;
  align-items: center;
  align-content: center;
}

h1 {
  text-align: center;
  font-size: 5rem;
}

.difficulty-buttons-list {
  display: flex;
  gap: 20px;
  justify-content: center;
  list-style: none;
}

.difficulty-button {
  border: none;
  appearance: none;
  background-color: #eee;
  padding: 10px 10px;
  font-weight: bold;
  border-radius: 7px;
  box-shadow: 0 0 1px rgba(0,0,0,0.5);
  font-size: 1.5rem;
  cursor: pointer;
}

.difficulty-button:hover {
  background-color: #ccc;
}

.pokemons-card-list {
  perspective: 200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  justify-items: center;
  text-align: center;
  gap: 10px;
  list-style: none;
}

.pokemon-card {
  cursor: pointer;
  font-size: 1.3rem;
  text-align: center;
  box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  opacity: 0;
  animation: enterFromLeft 0.5s forwards ease-in-out;
}

.pokemon-card:nth-child(2) {
  animation-delay: 0.1s;
}

.pokemon-card:nth-child(3) {
  animation-delay: 0.2s;
}
.pokemon-card:nth-child(4) {
  animation-delay: 0.3s;
}

.pokemon-card:nth-child(5) {
  animation-delay: 0.4s;
}


.pokemon-card:hover {
  background: #eee;
}

.game-over-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background: black;
  justify-self: center;
  padding: 10px;
  color: white;
  font-weight: bold;
  border-radius: 5px;
}

.game-over-button {
  cursor: pointer;
  appearance: none;
  border: none;
  padding: 4px 12px;
  font-weight: bold;
  border-radius: 4px;
}

.game-over-button:hover {
  background: #ccc;
}

@keyframes enterFromLeft {
  0% {
    transform: translateX(-300%);
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@media (min-width: 768px) {
  .pokemons-card-list {
    padding: 0 15%;
  }
}